.alignArrow{
  display: flex;
  align-items: flex-end;
}
.homeText{
  padding: 0 1vw;
  min-width: 10vw;
  h1{
    font-family: "Playfair Display", serif;
    font-size: 5rem;
    font-weight: 100;
  }
  p{
    font-size: 1.2rem;
    max-width: 20vw;
    text-align: start;
  }
}
.arrow{
  position: relative;
  right: 12vw;
  bottom: 4vw;
}

.displaySlider{
  
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.sliderPosition{
  max-width: 40vw;
}

.swiperSlide{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 400px;
    height: 584px;
  }
}

.lineForSlider{
  width: 40vw;
  height: 1px;
  background-color: var(--gray-100);
  margin-top: 200px;
  position: absolute;
  left: 18vw;
}

@media (max-width: 1024px){
  .displaySlider{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .lineForSlider{
    display: none;
  }

  .swiperSlide{
    margin-top: 3rem;
    img{
      width: 300px;
    }
  }
}

.whatsappButton{
  margin: 0 auto;
  max-width: 180px;
  justify-content: center;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  background: none;
  font-size: 0.9rem;
  padding: 0.4rem;
  border-radius: 3rem;
  border: 1px solid var(--brown-500);
  transition: all 0.3s;
  &:hover{
    color: #d18371;
    border:solid 1px #d18371;
  }
}
@media (max-width: 767px){
  .displaySlider{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .homeText{
    padding:0 50px;
    width: 370px;
    h1{
      font-size: 3.5rem;
    }
    p{

      font-size: 1rem;
      font-weight: 500;
      max-width: 50vw;
    }
    
  }
  .arrow{
    display: none;
  }
  .alignArrow{
    align-items: center;
  }
  .swiperSlide{
    
    margin-top: 3rem;
    img{
      width: 250px;
      height: 584px;
    }
  }
  .lineForSlider{
    display: none;
  }
}