.differentialsContainer{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.waterMarkDifferentials{
  display: flex;
  align-items: center;
  justify-content: center;
  h2{
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    right: 2rem;
  }
}

.alignDifferentialsImages{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}
.dividingLine{
  width: 2px;
  height: 500px;
  background-color: var(--gray-100);
}

.differentialImages{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  img{
    width: 500px;
    height: 583.45px;
  }
}

.socialButtons{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
 
}
.whatsappButton{
  margin: 0 auto;
  width: 180px;
  justify-content: center;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  background: none;
  font-size: 0.9rem;
  padding: 0.4rem;
  border-radius: 3rem;
  border: 1px solid var(--brown-500);
  transition: all 0.3s;
  &:hover{
    color: #d18371;
    border:solid 1px #d18371;
  }
}
@media (max-width: 1024px) {
  .differentialImages{
    h3{
      max-width: 350px;
    }
    img{
      width: 350px;
      height: 408.42px;
    }
  }
  .dividingLine{
    height: 350px;
  }
}

@media (max-width: 767px) {
  .alignDifferentialsImages{
    flex-direction: column;
  }
  .dividingLine{
    display: none;
  }
  .differentialImages{
    align-items: center;
    h3{
      max-width: 350px;
    }
    img{
      width: 350px;
      height: 408.42px;
    }
  }
  .whatsappButton{
    font-size: 0.8rem;
    padding: 0.3rem;
  }
}