.aboutContainer{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.waterMarkAbout{
  display: flex;
  align-items: center;
  justify-content: center;
  h2{
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    right: 2rem;
  }
}
.aboutText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  h3{
    font-family: "Playfair Display", serif;
    font-weight: 200;
    font-size: 4rem;
  }
  p{
    max-width: 60vw;
    text-align: start;
    font-weight: 500;
  }
}
.aboutGalery{
  display: flex;
  margin-top: 2rem;
  gap: 3rem;
  img{
    width: 350px;
    
  }
  .positioningTheCentralImage{
    position: relative;
    top: 5vw;
  }
  margin-bottom: 5rem;
}
.whatsappButton{
  margin-top: 1rem;
  margin: 0 auto;
  width: 180px;
  justify-content: center;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  background: none;
  font-size: 0.9rem;
  padding: 0.4rem;
  border-radius: 3rem;
  border: 1px solid var(--brown-500);
  transition: all 0.3s;
  &:hover{
    color: #d18371;
    border:solid 1px #d18371;
  }
}
@media (max-width: 1024px){
  .aboutGalery{
    .positioningTheCentralImage{
    }
    img{
      width: 250px;
      
    }
  }
}

@media (max-width: 767px) {
  .aboutGalery{
    gap: 2rem;
    flex-direction: column;
    .positioningTheCentralImage{
      position: inherit;  
    }
    img{
      width: 250px;
      
    }
  }
  .socialButtons{
    position: inherit;
  }
  .whatsappButton{
    font-size: 0.8rem;
    padding: 0.3rem;
  }
}
