.headerContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  img{
    width: 200px;
  }
}
.linksContainer{
  padding-right: 5vw;
  display: flex;
  gap: 1.5rem;
  font-size: 0.9rem;
  align-items: center;
  list-style: none;
  a {
    transition: color 0.2s;
    &:hover{
      color: #d18371;
    }
  }
  .whatsappButton{
      display: flex;
      gap: 0.2rem;
      align-items: center;
      background: none;
      font-size: 0.9rem;
      padding: 0.4rem;
      border-radius: 3rem;
      border: 1px solid var(--brown-500);
      transition: all 0.3s;
      &:hover{
        color: #d18371;
        border:solid 1px #d18371;
      }
  }
 
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
.check {
	display: none;
}

@media (max-width: 952px) {
  .linksContainer{
    gap: 1rem;
    a{
      font-size: 0.7rem;
      span{
        font-size: 0.7rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .linksContainer{
    a{
      font-size: 0.8rem;
    }
    span{
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 767px)  {
  .checkbtn {
		display: flex;
    flex-direction: column;
	}
	.linksContainer{
    display: flex;
    flex-direction: column;
		position: absolute;
    margin-top: 1rem;
		width: 100vw;
		height: 100vh;
    background-color: var(--beige-100);
    padding: 20px;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	.headerContainer.linksContainer li{
		display: flex;
    flex-direction: column;
		margin: 50px 0;
		line-height: 30px;
    align-items: center;
	}
	.linksContainer a{
    font-size: 1.2rem;
    span{
      font-size: 1.2rem;
    }
  }
	a:hover, a.active {
		background: none;
	}
	.check:checked ~ ul {
		left: 0;
	}
  
  
}