.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
  img{
    width: 200px;
    height: 141.41px;
  }
  .instaButton{
  margin: 0 auto;
  justify-content: center;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  background: none;
  font-size: 1.2rem;
  padding: 0.4rem;
  border-radius: 3rem;
  border: 1px solid var(--brown-500);
  transition: all 0.3s;
  &:hover{
    color: #d18371;
    border:solid 1px #d18371;
  }
  }
}
.footerLinks{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 2rem;
  padding: 0px 0px 50px 50px;
  
}
.links{
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  transition: all 0.3s;
    &:hover{
      color: #d18371; 
    }
}

@media (max-width: 1024px) {
  .links{
    font-size: .8rem;
  }
}

@media (max-width: 767px){
  .footerLinks{
    flex-direction: column;
    max-width: 250px;
    text-align: start;
  }
  .links{
    align-items: flex-start;
  }
  .iconFooter{
    max-width: 20px;
    min-width: 20px;
  }
}