.feedbacksContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.waterMarkFeedbacks{
  display: flex;
  align-items: center;
  justify-content: center;
  h2{
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    right: 2rem;
  }
}

.alignFeedbacks{
  display: flex;
  gap: 10rem;
}

.feedbacksDisplay{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feedbacksItem{
  max-width: 400px;
  h3{
    font-size: 2rem;
  }
  p{
    font-size: 1.2rem;
    font-weight: 600;
  }
  img{
    width: 400px;
  }
}

.socialButtons{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
 
}
.whatsappButton{
  margin: 0 auto;
  width: 180px;
  justify-content: center;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  background: none;
  font-size: 0.9rem;
  padding: 0.4rem;
  border-radius: 3rem;
  border: 1px solid var(--brown-500);
  transition: all 0.3s;
  &:hover{
    color: #d18371;
    border:solid 1px #d18371;
  }
}
@media (max-width: 1024px) {
  .alignFeedbacks{
   
  }
  .feedbacksItem{
    max-width: 250px;
    h3{
      font-size: 1.5rem;
      
    }
    p{
      font-size: 1rem;
    }
    img{
      width: 250px;
    }
  }
}

@media (max-width: 767px) {
  .alignFeedbacks{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .feedbacksItem{
    h3{
      font-size: 1.3rem;
    }
    p{
      font-size: 0.8rem;
    }
    img{
      width: 250px;
    }
  }
  .whatsappButton{
    font-size: 0.8rem;
    padding: 0.3rem;
  }
}