.waterMarkServices{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  h2{
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    right: 2rem;
  }
}

.swiperSlideServices{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  .servicesImage{
    width: 500px;
    height: 600px;
  }
}
.servicesInfo{
  display: flex;
  flex-direction: column;
  text-align: start;
  h3{
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    max-width: 20vw;
    font-weight: 200;
    text-align: start;
  }
  .resizeTitle{
    font-size: 2.2rem;
  }
  ul {
    position: relative;
    left: 5vw;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    li{
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;
      span{
        font-weight: 500;
      }
    }
  }
}
.dots{
  width: 12px;
}
.scheduleNow{
    background: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.7rem;
    border-radius: 3rem;
    border: 1px solid var(--brown-500);

    position: relative;
    top: 25vh;

    transition: all 0.3s;
    &:hover{
      color: #d18371;
      border:solid 1px #d18371;
    }
}
@media(max-width: 1024px){
  .swiperSlideServices{
    max-width: 100%;
    align-items: center;
    justify-content: center;
    .servicesImage{
      width: 350px;
      height: 420.44px;
    }
  }
  .scheduleNow{
    top: 20vh;
  }
}
@media (max-width: 900px){
  .sliderPosition{
    display: flex;
    align-items: center;  
    justify-content: center;
  }
  .swiperSlideServices{
    
    align-items: center;
    justify-content: center;
    .servicesImage{
      width: 140px;
      height: 168px;
    }
  }
  .servicesInfo{
    max-width: 100px;
    h3{
      font-size: 1.2rem;
    }
    .resizeTitle{
      font-size: 1rem;
      min-width: 20vw;
    }
    ul{
      gap: 0.1rem;
    }
    ul li span{
      font-size: 0.5rem;
    }
  }
  .dots{
    min-width: 6px;
    max-width: 6px;
  }
  .scheduleNow{
   right: 5vw;
   font-size: 0.8rem;
   padding: 0.3rem;
   top: 5.6rem;
  }
  
}
@media (max-width:400px) {
  .swiperSlideServices{
    margin: 0 10px;
    max-width: 350px;
    align-items: center;
    justify-content: center;
    .servicesImage{
      width: 120px;
    }
  }
  .servicesInfo{
    h3{
      font-size: 0.8rem;
    }
    .resizeTitle{
      font-size: 0.7rem;
    }
    ul li span{
      font-size: 0.5rem;
    }
  }
}